---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ServicesGrid from '../../components/ServicesGrid.astro';
---

<BaseLayout
  title="Our Services"
  description="Cloud services and solutions"
>
  <div class="pt-20">
    <ServicesGrid />
  </div>
</BaseLayout> 